@model ToDoItem
<form asp-controller="Home" asp-action="edit" method="post" class="form-horizontal">
    <div class="form-group">
        <input type="hidden" asp-for="ID" />

    </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label asp-for="Title" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Title" type="text" class="form-control" />
            </div>
        </div>
    <div class="form-group">
        <div class="col-sm-3">
            <label asp-for="IsComplete" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="IsComplete" type="checkbox"  />
            </div>
        </div>

    <div class="form-group">
        <div class="col-sm-3">
            <label asp-for="Description" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
        </div>
    <div class=" col-sm-offset-3 col-sm-9 ">
        <button type="submit" class="btn btn-primary ">Save</button>
        </div> 
</form>
