
@model HomeViewModel

<section id="formsection">
    <form asp-controller="Home" asp-action="add" method="post" class="form-inline" role="form">

        <label asp-for="NewToDoITem.Title" />
        <input type="text" asp-for="NewToDoITem.Title" class="form-control" placeholder="Title" />
        <label asp-for="NewToDoITem.Description" />
        <input type="text" asp-for="NewToDoITem.Description" class="form-control" placeholder="Description" />
        <button type="submit" class="btn btn-primary"> Add</button>
        <span asp-validation-for="NewToDoITem.Title"></span>
        <span asp-validation-for="NewToDoITem.Description"></span>
    </form>
</section>
<section>
    <ul>
        @foreach (var item in Model.ToDoItems)
            {

                <todo asp-todo="@item"  />
            }
    </ul>

</section>
