@model string
<div class="col-md-12">
    <div class="jumbotron text-center">
        <h1>TO DO List</h1>
        <p>We could not authenticate using the provider. Please try again- @Model</p>
        <a href="/account/login" class="btn btn btn-default" > Login</a>
    </div>
</div>