
<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="index">Home</a></li>
    <li class="active">Contact</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2><i class="fa fa-comments-o"></i> Feedback &amp;Suggestions</h2>
            <p>If you have general feedback, or if you have an idea  please email us at:</p>
            <p><strong><a href="mailto:feedback@todomvc.com">feedback@todomvc.com</a></strong></p>
            <h2><i class="fa fa-support"></i> Help Requests</h2>
            <p> if you are experiencing a bug, please email us at:</p>
            <p><strong><a href="mailto:help@todomvc.com">help@todomvc.com</a></strong></p>
        </div>
    </div>
</div>