
@model IEnumerable<ToDoItem>
<ol class="breadcrumb">
    <li><a asp-controller="Home" asp-action="index">Home</a></li>
    <li class="active">Active Items</li>
</ol>
<section>
    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2><i class="fa fa-star-o"></i> Active items</h2>
                <ul class="ul-todo">
                    @foreach (var item in Model)
                    {
                        <todo asp-todo="@item" asp-type="active" />
                    }
                </ul>
                </div>
            </div>
        </div>
</section>