@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html>
<head>
   
        <title>@ViewBag.Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/styles/reset.css" rel="stylesheet" />
        <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker' rel='stylesheet' type='text/css' />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/styles/app.css" rel="stylesheet" />


</head>
<body>
    <header >
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;TO DO List</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li><a asp-controller="home" asp-action="index"><i class="fa fa-home"></i>All</a> </li>
                            <li><a asp-controller="home" asp-action="active"><i class="fa fa-star-o"></i>Active</a> </li>
                            <li><a asp-controller="home" asp-action="Completed"><i class="fa fa-star"></i>Completed</a> </li>
                        }
                        <li><a asp-controller="misc" asp-action="about"><i class="fa fa-info-circle"></i>About</a> </li>
                        <li><a asp-controller="misc" asp-action="contact"><i class="fa fa-comments-o"></i>Contact Us</a> </li>
                    </ul>
                    @if (SignInManager.IsSignedIn(User))
                    {

                        <ul class="nav navbar-nav navbar-right">
                            <li><i class="glyphicon glyphicon-user"></i><span>@User.Identity.Name</span></li>
                            <li>&nbsp;</li>
                            <li>
                                <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                                    <a onclick="document.getElementById('logoutForm').submit();"><i class="fa fa-sign-out" aria-hidden="true"></i>Log off</a>
                                </form>

                            </li>
                        </ul>
                    }

                </div>
                </div>
</nav>
    </header>



    <section >
            @RenderBody()
    </section>
    
    <footer  class="navbar navbar-default navbar-fixed-bottom">
        <div class="container text-center">
            &copy; 2016 TO DO List
        </div>
        
    </footer>
    <section>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </section>

</body>
</html>
